$primary: #3292a6;
$primary-overlay: rgba(50,146,166, 0.4);
.maincolor{
    color: $primary;
}
body{
    margin-top: 105px;
}
.newbg {
    background: #3292a6;
}

.navbar {
    opacity: 0.9;
    background: #fff;

    .nav-item {
        font-size: 1.1rem;
        padding-right: 1.1rem;
        
    }

}

#showcase {
    position: relative;
    background: url('../img/road.jpg') center no-repeat;
    min-height: 600px;

    .primary-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.lambow {
    padding-top: 80px;
}

.boxes {
    box-shadow: 5px 5px darkgray;
}

.lambow-img {
    border-radius: 15px;
    border: solid 2px white;
    opacity: 0.6;
}

.allura {
    font-family: 'Allura', cursive;
}


// About
#about {
    h1, p {
    color: $primary;   
    width: 75%;
    margin: auto; 
    font-family: allura;    
    }

    h1 {
        font-size: 55px;
    }
    p {
        padding-bottom: 1.1rem;;
        border-bottom: 1px #ddd solid;
        font-size: 25px;
    }


}




@media(max-width: 768px){
    #showcase {
        min-height: 500px;
        h1{
            font-size: 4rem;
        }
    }

    .mb-resp{
        margin-bottom: 1rem;
    }
}
